#formAdd {
  margin: 0 auto;
}
.form-box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
.form-div {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  width: 260px;
}

.btn-submit {
  width: 25%;
  border: 1px solid #a2daff;
  padding: 1%;
  margin: 0 auto;
  cursor: pointer;
  background: #a2daff;
}
